* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1400px;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#0c03334d, #0c03334d);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url("media/hero.gif");
}
nav {
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a:hover {
    color: rgb(155, 93, 123);
}
nav .logo {
    width: 80px;
    align-items: center;
    margin-right: 10px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a {
    text-decoration: none;
    color: #f4f4f4;
    opacity: .4;
    font-size: 20px;
}


body {
    font: normal 50px 'Poppins', sans-serif;   
}

.logo {
    font-family: verdana, monospace;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.content {
    text-align: center;
}
.content h1 {
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content p {
    font-size: 30px;
    color: #f4f4f4;
    font-weight: 300;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    cursor: pointer;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 50px;
    transition: 0.3s;
}
.content a:hover, .content a:focus, .content a:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* When using button to Start

#BeginClock {
    font-size: 50px;
    background-color:#f4f4f4;
    color: #0c0a0a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0 , 5);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transform-property: box-shadow, transform;
}
#BeginClock:hover, #BeginClock:focus, #BeginClock:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #aaa8a0;
}
.Digital-Clock {
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
*/
.container {
    max-width: 1400px;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    font-size: 15px;
    color: #f4f4f4;
}
.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footerContent h3{
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footerContent li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.footerContent a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 13px;
    opacity: .4;
}

.footerContent a:hover {
    color: white;
}
.footerBottom {
    width: 100vw;
    padding: 20px 0;
    text-align: left;
    margin-left: 30px;
    text-transform: capitalize;
    font-size: 13px;
    word-spacing: 1px;
}
.footerBottom span {
    text-transform: capitalize;
    opacity: .4;
    font-weight: 200;
}